[user]
	email = jim@rybarski.com
	name = Jim Rybarski

[core]
	excludesFile = $HOME/.config/global-gitignore
	editor = nvim

[push]
    autoSetupRemote = true

[color "diff"]
    old = yellow
    new = cyan
